/* Reset some default styles */
body {
    display: flex;
    margin: 30px;
    padding: 0px;
    color:white;
    background-color: rgba(10, 2, 101, 0.883);}




  h1, h2, p {margin: 50px;}
   



/* Style main container */
#main_container {
    display: flex;
    flex: 1;
    width: 1350px;
    margin: 0 auto;}

/* Style section 1 */
#section1 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px;
}

/* Style each box in Section 1 */
.box {
    text-align: center;
    padding: 100px;
    background-color: grey;
   
}

#box1 img {
    width: 100px;
    border-radius: 50%;
    color:grey;
}

/* Apply different styling using class, id, element type, attribute, and pseudo-class selectors */
#box1, #box2, #box3{
    border: 5px solid black;
    
}

.box p {
    font-style: italic;
}



.box:hover, #box4:hover, #box5:hover, #box5:hover, #box6:hover, #box7:hover, #box8:hover, #box9:hover{
    background-color: rgba(32, 132, 186, 0.64);
}

/* Add borders to Section 2 and Section 3 */
#section2, #section3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    border: 5px solid black;
    padding: 5px; /* Reduced padding for consistency */
    width: 47%; /* Adjust the width as needed */
}

/* Style each box within Section 2 and Section 3 */
#box4, #box5, #box6, #box7, #box8, #box9{
    margin-bottom: 35px;
    width: 48%;
}

/* Add specific styles to Section 2 boxes */
#box4, #box5, #box6{
    
    background-color: black;
}

/* Add specific styles to Section 3 boxes */
 #box7, #box8 , #box9{
    background-color:   black;
}

/* Responsive styling */
@media only screen and (max-width: 768px) {
    #main_container {
        width: 95%;
    }
}
